.nav {
  font-family: "Architects Daughter", cursive;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  margin: 1rem 1rem 0;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 5;
  text-transform: uppercase;
  cursor: pointer;
  background: url("https://assets.codepen.io/567707/bg-ricepaper.png");
  border-end-end-radius: 15px;
}
@media (min-width: 800px) {
  .nav {
    display: flex;
    align-items: center;
  }
}
.navbar {
  display: flex;
  flex-direction: row;
}
.navbar li {
  height: auto;
  width: 130px;
  float: left;
  text-align: center;
  list-style: none;
}
.navbar-list,
.navbar-list::after {
  font-size: clamp(1rem, 2vw, 1rem);
  text-decoration: none;
}
.nav__logo {
  font-family: "Multicolore", sans-serif;
  font-weight: 600;
  font-size: clamp(2rem, 4vw, 3rem);
  line-height: 1;
  letter-spacing: 0.05rem;
}
.nav__logo span {
  color: var(--orange-80);
}
.nav__logo span:nth-child(1) {
  color: var(--orange-blue);
  display: inline-block;
  margin-right: 0.1rem;
}
.nav__logo span:nth-child(2) {
  color: var(--orange-40);
}
.nav__links {
  flex: 0 0 auto;
  margin: 0.5rem 0 0 auto;
}
.nav__item {
  display: inline-block;
  margin: 0.5rem;
  padding: 0 0.2rem 0.4rem;
}
.nav__item:hover {
  color: var(--orange-80);
}
.nav__item:focus,
.nav__item:active {
  color: var(--orange-blue);
}
.nav__item.active {
  color: var(--orange);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 150.72 13.59'%3E%3Cpath d='M3.21,13.56A789.68,789.68,0,0,1,147.47,7.82c4.35.23,4.33-6.53,0-6.75A788.78,788.78,0,0,0,3.21,6.8c-4.25.56-4.31,7.33,0,6.76Z' style='fill:%2361567a'/%3E%3C/svg%3E");
}
.nav-bar-list-item:hover li {
  display: block;
}
.navbar a {
  text-decoration: none;
  display: block;
}

.navbar li ul {
  display: none;
  height: auto;
  margin: 0;
  padding: 0;
}
.navbar li:hover ul {
  display: block;
}
.navbar a,
a:link,
a:visited,
a:hover {
  color: black;
}
