@import url(https://fonts.googleapis.com/css?family=Raleway:700);

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: justify;
  background: #fbebd7;

}

.js-transitions-disabled * {
  transition: none !important;
}
h2 {
  font-size: 30px;
  text-align: center;
}
.carousel {
  position: relative;
  height: 100%;
  overflow: hidden;
  perspective: 50vw;
  perspective-origin: 50% 50%;
}
.carousel__control {
  position: absolute;
  height: 160px;
  width: 40px;
  background: #fff;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
}
.carousel__control a {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 75%;
  box-sizing: border-box;
}
.carousel__control a:hover:before {
  background-color: rgba(0, 0, 0, 0.4);
}
.carousel__control a.active:before,
.carousel__control a.active:hover:before {
  background-color: rgba(0, 0, 0, 0.6);
}
.carousel__control a:first-child {
  margin-top: 15px;
}
.carousel__control a:before {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  padding-top: 25%;
  width: 25%;
  background: rgba(0, 0, 0, 0.2);
  content: "";
  display: block;
  margin-top: -12.5%;
}
.carousel__stage {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  margin: auto;
  transform-style: preserve-3d;
  transform: translateZ(calc(-50vh + 20px));
}
.spinner {
  position: absolute;
  width: calc(50vw - (20px));
  height: calc(100vh - 40px);
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  margin: auto;
  transform-style: preserve-3d;
  transition: transform 1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-origin: 50% 50%;
  transform: rotateX(0);
}
.js-spin-fwd .spinner {
  transform: rotateX(-90deg);
}
.js-spin-bwd .spinner {
  transform: rotateX(90deg);
}
.js-spin-fwd .spinner--right {
  transform: rotateX(90deg);
}
.js-spin-bwd .spinner--right {
  transform: rotateX(-90deg);
}
.spinner--right {
  right: 0;
  left: auto;
}
.spinner__face {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.spinner__face.js-next {
  display: block;
  transform: rotateX(90deg) translateZ(calc(50vh - 20px));
}
.spinner--right .spinner__face.js-next {
  transform: rotateX(270deg) translateZ(calc(50vh - 20px));
}
.js-spin-bwd .spinner__face.js-next {
  transform: rotateX(-90deg) translateZ(calc(50vh - 20px));
}
.js-spin-bwd .spinner--right .spinner__face.js-next {
  transform: rotateX(-270deg) translateZ(calc(50vh - 20px));
}
.js-active {
  display: block;
  transform: translateZ(calc(50vh - 20px));
}
.content {
  position: absolute;
  width: 200%;
  height: 100%;
  left: 0;
}
.spinner--right .content {
  left: -100%;
}
.content__left,
.content__right {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
}
.content__right {
  right: 0;
  left: auto;
}

.content__left {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__left:after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  z-index: 1;
}
.content__left h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -3vw;
  text-align: center;
  font-family: "Londrina Solid";
  font-size: 6vw;
  height: 10vw;
  opacity: 0.8;
  color: black;
  width: 100%;
  letter-spacing: 0.15em;
  line-height: 0.6;
}
.content__right {
  display: flex;
  align-items: center;
  justify-content: justify;
}
.content__right .content__main {
  position: absolute;
  font-family: Merriweather, serif;
  text-align: justify;
  color: #fff;
  font-size: 2vw;
  padding-right: 2rem;
  padding-left: 2rem;
  line-height: 1.65;
  font-weight: 300;
  margin: 0;
  opacity: 0.8;
}
.content__right .content__main p:last-child {
  font-size: 0.85em;
}
.content__right .content__index {
  font-size: 20vh;
  position: absolute;
  right: -1vh;
  top: 35vh;
  opacity: 0.04;
  font-family: oswald;
  color: #fff;
  z-index: 99;
}

[data-type="rabat"] .content__left {
  background-image: url("img/hassan-tower-xlarge.jpg");
  background-position: center;
  background-image: cover;
}
.spinner--right [data-type="rabat"] .content__left {
  background-image: none;
}
[data-type="aitbenhaddou"] .content__left {
  background-image: url("img/aït-benhaddou-3.jpg");
  background-position: center;
}
.spinner--right [data-type="aitbenhaddou"] .content__left {
  background-image: none;
}
[data-type="ouzoud"] .content__left {
  background-image: url("img/cascades-douzoud-1280x1600.jpg");
}
.spinner--right [data-type="ouzoud"] .content__left {
  background-image: none;
}
[data-type="merzouga"] .content__left {
  background-image: url("img/Merzouga-quad-dunes.jpg");
}
.spinner--right [data-type="merzouga"] .content__left {
  background-image: none;
}
[data-type="casablanca"] .content__left {
  background-image: url("img/hassan-ii-mosque-3.jpg");
  background-position: center;
}
.spinner--right [data-type="casablanca"] .content__left {
  background-image: none;
}
[data-type="fez"] .content__left {
  background-image: url("img/fez.jpg");
  background-position: center;
}
.spinner--right [data-type="fez"] .content__left {
  background-image: none;
}
[data-type="volubilis"] .content__left {
  background-image: url("img/volubilis.jpg");
  background-position: center;
}

.spinner--right [data-type="volubilis"] .content__left {
  background-image: none;
}
[data-type="tangier"] .content__left {
  background-image: url("img/tangier.jpg");
  background-position: center;
}
.spinner--right [data-type="tangier"] .content__left {
  background-image: none;
}
[data-type="chefchaouen"] .content__left {
  background-image: url("img/chefchaouen\ 09.49.12.jpg");
  background-position: center;
}
.spinner--right [data-type="chefchaouen"] .content__left {
  background-image: none;
}
[data-type="marrakech"] .content__left {
  background-image: url("img/HD-wallpaper-morocco-marrakech-africa-city-mosque-red-city.jpg");
  background-position: center;
}
.spinner--right [data-type="marrakech"] .content__left {
  background-image: none;
}
[data-type="essaouira"] .content__left {
  background-image: url("img/essaouira.jpeg");
  background-position: center;
}
.spinner--right [data-type="essaouira"] .content__left {
  background-image: none;
}
[data-type="ifrane"] .content__left {
  background-image: url("img/VjRebyq.jpeg");
  background-position: center;
}
.spinner--right [data-type="ifrane"] .content__left {
  background-image: none;
}
h1 {
  margin: 0;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  letter-spacing: -4px;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
h1::before,
h1::after {
  width: 220px;
  height: 1px;
  border-top: 4px double #fff;
  content: "";
  display: block;
  margin: 20px auto;
}
header {
  height: calc(100% - 65px);
  position: relative;
  overflow: hidden;
  background: #333;
  -webkit-perspective: 1500px;
  perspective: 1500px;
  perspective-origin: center bottom;
}

#video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1000;
}

.hero {
  position: relative;
  background: #333;
  background-size: cover;
  height: 100%;
  width: 100%;

  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

  display: table;
}
.hero .overlay {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
/* Hide dropdown content by default */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 120px;
  z-index: 1;
}

/* Show dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Style the dropdown links */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ffffff;
  color: black;
}

nav {
  background: #171717;
  height: 65px;
}
nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.sticky-wrapper {
  height: 65px;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul a {
  height: 65px;
  line-height: 65px;
  padding: 10px 15px;
  color: #a1a1a1;

  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

section {
  height: 100%;
  width: 100%;
  display: table;
}
section#item1 {
  background: antiquewhite;
}
section#item2 {
  background: antiquewhite;
  /* margin-top: 50px; */
  /* min-height: 700px; */
  overflow-y: scroll;
  transform: translateY(20%);
}

[hidden] {
  display: none;
  visibility: hidden;
  opacity: 1;
}

.article {
  display: flex;
  align-items: center;
}

.content {
  flex: 1;
}

.image {
  margin-left: 20px; /* Adjust margins as needed */
}

.image img {
  max-width: 100%; /* Ensure images don't exceed their container */
  height: auto; /* Maintain aspect ratio */
}

[hidden] {
  display: none;
  visibility: hidden;
  opacity: 1;
}

p {
margin-bottom: 1rem;
}

#wrapper {
display: flex;
align-items: center;
height: 100vh;
max-width: 45rem;
margin: 0 auto;
}

.tabs {
width: 100%;
background-color: white;
border-radius: 0.5rem;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.tab-control {
display: inline-block;
border-bottom: 2px solid transparent;
font-size: 1.25rem;
padding: 0.6rem 1rem;
cursor: pointer;
transition: all 0.25s ease;
}

.tab-control:hover {
color: green;
}

.tab-content {
border-top: 1px solid #ed1e1e;
padding: 1rem;
}

.tab-panel {
display: none;
}

/* Magic style */
input[type=radio]:checked + .tab-control {
font-weight: 600;
color: #ed1e1e;
border-bottom-color: green;
}

#tab-1:checked ~ .tab-content > #tab-panel-1 {
display: block;
}

#tab-2:checked ~ .tab-content > #tab-panel-2 {
display: block;
}

#tab-3:checked ~ .tab-content > #tab-panel-3 {
display: block;
}
#tab-4:checked ~ .tab-content > #tab-panel-4 {
  display: block;
}
#tab-5:checked ~ .tab-content > #tab-panel-5 {
  display: block;
}
#tab-6:checked ~ .tab-content > #tab-panel-6 {
  display: block;
}
#tab-7:checked ~ .tab-content > #tab-panel-7 {
  display: block;
}
#tab-8:checked ~ .tab-content > #tab-panel-8 {
  display: block;
}
#tab-9:checked ~ .tab-content > #tab-panel-9 {
  display: block;
}
#tab-10:checked ~ .tab-content > #tab-panel-10 {
  display: block;
}
#tab-11:checked ~ .tab-content > #tab-panel-11 {
  display: block;
}
#tab-12:checked ~ .tab-content > #tab-panel-12 {
  display: block;
}
h3 {
  text-align: center;
}
/* Back to top button */
#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: #333;
  opacity: 0.6;
  cursor: pointer;
  outline: none;
  border: 3px solid #333;
  border-radius: 50%;
  transition: color 0.2s ease-in-out;
}

#back-to-top-btn:hover {
  background-color: #333;
  color: #fff;
}

@media (max-width: 992px) {
  .container  {
    padding: 20px 100px;
  }

  #back-to-top-btn {
    font-size: 22px;
    width: 40px;
    height: 40px;
  }
}
/* Button Animations */

.btnEntrance {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}
/*Zoom In*/
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }
}
/*Zoom Out*/

@keyframes btnExit {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}
/* Footer */
footer{
  background-image: url('img/bg-ricepaper.png');
  min-height: 8vh;
  color: black;
  text-align: center;
  z-index: 2;
  
}
footer p {
  margin: 0;
}
.placement_icon{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.icon{
  width: max-content;
}