/* Image Background <- dossier image */
footer{
    background: rgb(239, 239, 239);
    min-height: 8vh;
    color: black;
    text-align: center;
    
}
footer p {
    margin: 0;
}
.placement_icon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.icon{
    width: max-content;
}