.nav {
  align-items: center;
  font-family: "Skranji";
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 5;
  min-height: 80px;
  background: url("https://assets.codepen.io/567707/bg-ricepaper.png");
  color: antiquewhite;
  border-end-start-radius: 25px;
  border-end-end-radius: 25px;
}

@media (max-width: 800px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: start;
  }
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.nav__item {
  display: inline-block;
  margin: 0.5rem;
  padding: 0 0.2rem 0.4rem;
  font-size:x-large;
  background-image: linear-gradient(rgba(7, 87, 7, 0.721), gray);
  border-radius: 15px;
}
.navbar li {
  width: 130px;
  text-align: center;
  padding: 6px;
  list-style: none;
  
}
.navbar-list,
.navbar-list::after {
  font-size: clamp(1rem, 2vw, 1rem);
  text-decoration: none;
}

.nav__links {
  max-height: 5vh;
  margin: 0.5rem 0 0 auto;
}

.nav__item.active {
  color: var(--orange);
  background-repeat: no-repeat;
  background-position: bottom center;
}
.nav-bar-list-item:hover li {
  display: block;
}
.navbar a {
  text-decoration: none;
  display: block;
}
.navbar li ul {
  display: none;
  height: auto;
  margin: 0;
  padding: 0;
}
.navbar li:hover ul {
  display: block;
  position: absolute;
  width: 20vh;
}
.navbar a,
a:link,
a:visited,
a:hover {
  color: antiquewhite;
  background-image: linear-gradient(rgba(7, 87, 7, 0.721), gray);
  border-radius: 15px;

}
